.backbutton{
    font-size: 2vw;
}
.topicon{
    text-align: center;
    font-size: 8vw;

}
.description{
    text-align: center;
    font-size: 4vw;
}
.bottomicon{
    position: relative;
    bottom: 1vw;
    font-size: 2vw;

}
.bottomicon>div{
    float: left;
    background: aqua;
    position: relative;
}